html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.topBar {
	width: 100%;
	display: inline-block;
	color: white;
	background-color: #24292e;
	height: 42px;
	
	label {
		color: white !important;
		margin-left: 12px;
		margin-top: 6px;
	}

	a {
		color: white !important;
		float: right;
		margin-right: 32px;
		text-decoration: none;
		padding-left: 12px;
		padding-right: 12px;
		margin-top: -11px;
		padding-top: 9px;
		padding-bottom: 9px;

		&:hover {
			background-color: #34393e;
		}

		small {
			margin-top: 3px;
			margin-right: 4px;
			display: inline-block;
			float: left;
		}

		svg {
			margin-top: 0px;
			display: inline-block;
			float: right;
		}
	}
}

.app {
	position: static;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;

	.side-panel {
		position: absolute;
		left: 0px;
		top: 42px;
		bottom: 0px;
		width: 320px;
		max-width: 100%;
		overflow-y: auto;
		padding: 4px;
		border-right: 1px solid #d2d0ce;
	}

	.main-pane {
		position: absolute;
		left: 332px;
		right: 0px;
		top: 42px;
		bottom: 0px;
		overflow-y: auto;
		background-color: rgb(250, 251, 252);

		.pad {
			margin: 8px;
		}

		.ms-Breadcrumb {
			background-color: rgb(246, 248, 250) !important;
			margin: 0 !important;
			padding: 23px 0px 12px;

			.ms-Link {
				font-size: 16px !important;
			}
		}

		.ms-Pivot {
			background-color: rgb(246, 248, 250) !important;
			border-bottom: 1px solid #d2d0ce;
			margin-bottom: 4px;

			.ms-Pivot-link {
				font-size: 12px !important;
			}
		}
		.panel {
			background-color: rgb(250, 251, 252);
			border: 1px solid rgb(209, 213, 218);
			border-radius: 1px;
			margin-left: 8px;
			margin-right: 8px;
			margin-top: 12px;
			margin-bottom: 12px;

			.panel-heading {
				background-color: rgb(246, 248, 250);
				border-bottom: 1px solid rgb(209, 213, 218);
				padding-left: 8px;
				padding-right: 8px;
				padding-top: 10px;
				padding-bottom: 10px;

				i {
					float: left;
					font-weight: 500;
				}

				.ms-Label {
					float: left;
					margin-left: 8px;
					margin-top: -4px;
					font-weight: 600;
				}
			}

			.panel-body {
				padding: 40px;
			}
		}
	}

	.github-search-area {
		max-width: 100%;
		padding-top: 4px;

		.ms-SearchBox {
			margin-bottom: 16px;
		}
	}

	.github-repository-search-item {
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid rgb(179, 176, 173);

		&:hover {
			background-color: rgb(244, 244, 244);
		}
	}

	

	.github-repository-search-item-content {
		margin-left: 26px;
		margin-right: 26px;
	}
}



.ms-modal-header {
	padding: 6px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: #24292e;
	label {
		color: white !important;
		margin-left: 12px;
		width: auto;
		display: inline-block;
	}

	button {
		float: right;
		margin-top: -4px;
		margin-right: 12px;
	}
}

.ms-modal-body {
	width: 800px;
	min-height: 800px;
	max-width: 100%;
	padding: 32px;

	.ms-modal-inner-body {
		width: 100%;
		height: 100%;
	}
}