html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.topBar {
	width: 100%;
	display: inline-block;
	color: white;
	background-color: #24292e;
	height: 42px;
	
	label {
		color: white !important;
		margin-left: 12px;
		margin-top: 6px;
	}
}

.app {
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;

	.github-search-area {
		padding-top: 4px;

		.ms-SearchBox {
			margin-bottom: 16px;
		}
	}

	.github-repository-search-item {
		padding-top: 16px;
		padding-bottom: 16px;
		border-bottom: 1px solid rgb(179, 176, 173);

		&:hover {
			background-color: rgb(244, 244, 244);
		}
	}

	

	.github-repository-search-item-content {
		margin-left: 26px;
		margin-right: 26px;
	}
}



.ms-modal-header {
	padding: 6px;
	padding-left: 32px;
	padding-right: 32px;
	background-color: #24292e;
	label {
		color: white !important;
		margin-left: 12px;
		width: auto;
		display: inline-block;
	}

	button {
		float: right;
		margin-top: -4px;
		margin-right: 12px;
	}
}

.ms-modal-body {
	width: 800px;
	min-height: 800px;
	max-width: 100%;
	padding: 32px;

	.ms-modal-inner-body {
		width: 100%;
		height: 100%;
	}
}